### Prepping Data Challenge:  Filling in for HR (week 39)

### Requirements
- Input the data
- Fill down the Employee field
- Fill down the Work Level field
- Reorder the data so that it is output in the same order as it comes in
- Output the data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#input the data
df = pd.read_csv(r"\Dataprep\2022\Fill Down Input.csv")

In [5]:
df.head()

   Record ID Employee  Work Level                 Stage        Date
0          1   Andrea           3  Application Received  11/10/2019
1          2   Andrea           3             Interview  31/10/2019
2          3   Andrea           3            Start Date  06/01/2020
3          4   Andrea           3       Work Anniverary  06/01/2021
4          5   Andrea           4             Promotion  01/03/2021

In [4]:
# fill down the employee and work level fields
df['Employee'] = df['Employee'].ffill()
df['Work Level'] = df['Work Level'].ffill().astype(int)

In [6]:
# Reorder the data so that it is output in the same order as it comes in
# Output the data
output =  df.sort_values(by='Record ID').to_csv('wk39-output.csv', index=False)

In [7]:
df.head()

   Record ID Employee  Work Level                 Stage        Date
0          1   Andrea           3  Application Received  11/10/2019
1          2   Andrea           3             Interview  31/10/2019
2          3   Andrea           3            Start Date  06/01/2020
3          4   Andrea           3       Work Anniverary  06/01/2021
4          5   Andrea           4             Promotion  01/03/2021