### Prepping Data Challenge: Filling the Blanks (Week 11)

Dealing with gaps in data sets is something any data prepper will have to deal with frequently. At the Prep School, some of our attendance recording isn't filled in well. 

Each lesson is taught at the same time, on the same day.

### Requirements
- Input the data set
- Fill in the blanks 
- Find the average Attendance per Lesson and Subject per weekday
- Output the data

In [1]:
import pandas as pd

In [2]:
# Input the data.
df = pd.read_csv('WK11-PD Fill the Blanks challenge.csv')

In [3]:
df.head()

  Weekday  Week    Teacher Lesson Time Lesson Name  Subject  Attendance
0  Monday     1  J. Martin       09:00  Statistics    Maths          24
1  Monday     2  J. Martin       09:00  Statistics    Maths          12
2  Monday     3  J. Martin       09:00         NaN      NaN          20
3  Monday     4  J. Martin       09:00         NaN      NaN          24
4  Monday     1  T. Prowse       14:00  Literature  English          21

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Weekday      40 non-null     object
 1   Week         40 non-null     int64
 2   Teacher      40 non-null     object
 3   Lesson Time  40 non-null     object
 4   Lesson Name  27 non-null     object
 5   Subject      25 non-null     object
 6   Attendance   40 non-null     int64
dtypes: int64(2), object(5)
memory usage: 2.3+ KB

In [5]:
df['Teacher'].unique()

array(['J. Martin', 'T. Prowse', 'C. Allchin', 'O. Feather'], dtype=object)

In [6]:
df['Lesson Name'].unique()

array(['Statistics', nan, 'Literature', 'Chemistry', 'Rugby', 'Algebra',
       'Poetry', 'Biology', 'Basketball', 'Discrete', 'Prose'],
      dtype=object)

In [7]:
#Fill in the blanks
df['Lesson Name'] = df.groupby(['Teacher','Weekday'])['Lesson Name'].ffill().bfill()
df['Subject'] = df.groupby('Teacher')['Subject'].ffill().bfill()

In [8]:
#Find the average Attendance per Lesson and Subject per weekday
df["Avg. Attendance per Subject & Lesson"] = df.groupby(['Lesson Name','Subject'])['Attendance'].transform('mean')

In [9]:
df = df.rename(columns={'Lesson Time':'Time'})

In [10]:
df['Time'] = df['Time']+':00'

In [11]:
df.head(10)

,Weekday,Week,Teacher,Time,Lesson Name,Subject,Attendance,Avg. Attendance per Subject & Lesson
0,Monday,1,J. Martin,09:00:00,Statistics,Maths,24,20.0
1,Monday,2,J. Martin,09:00:00,Statistics,Maths,12,20.0
2,Monday,3,J. Martin,09:00:00,Statistics,Maths,20,20.0
3,Monday,4,J. Martin,09:00:00,Statistics,Maths,24,20.0
4,Monday,1,T. Prowse,14:00:00,Literature,English,21,16.5
5,Monday,2,T. Prowse,14:00:00,Literature,English,15,16.5
6,Monday,3,T. Prowse,14:00:00,Literature,English,13,16.5
7,Monday,4,T. Prowse,14:00:00,Literature,English,17,16.5
8,Tuesday,1,C. Allchin,09:00:00,Chemistry,Science,13,24.0
9,Tuesday,2,C. Allchin,09:00:00,Chemistry,Science,30,24.0

In [12]:
#output the data
df.to_csv('wk11-output.csv', index=False)