### Prepping Data Challenge:  Excelling in Prep (week 31)

When you are working with data in most organisations, you will frequently come across requests from Excel users using Excel terms. This week's challenge looks at term that is ubiquitous with Excel - a pivot table. 

Pivot tables are often contain summarised data values, have totals and filter out certain parts of the data set. The challenge this week will be to take an input and create a pivot table. Pivot tables are likely to be structured differently to most of our analytical outputs.

### Requirements
 - Input data
 - Remove the 'Return to Manufacturer' records
 - Create a total for each Store of all the items sold
 - Aggregate the data to Store sales by Item
 - Output the data

In [1]:
import pandas as pd

In [2]:
#Input the data
df = pd.read_csv('WK31-Input.csv')

In [3]:
df.head()

         Date      Store     Item                  Status  Number of Items
0  05/07/2021    Bristol  Saddles                    Sold                3
1  05/07/2021       York  Saddles                    Sold                3
2  05/07/2021  Wimbledon  Saddles                    Sold                1
3  05/07/2021  Wimbledon  Saddles  Return to Manufacturer                1
4  05/07/2021  Stratford  Saddles                    Sold                2

In [4]:
#Remove the 'Return to Manufacturer' records
df = df[df['Status'] != 'Return to Manufacturer']

In [5]:
#Create a total for each Store of all the items sold
output = pd.crosstab(index=df.Store, columns=df.Item, values = df['Number of Items'], aggfunc='sum',
                     margins=True, margins_name= 'Items sold per store')
output = output.iloc[:-1,:]

In [6]:
output.head()

Item       Brakes  Saddles  Tyres  Wheels  Items sold per store
Store
Bristol         7        6      9       8                    30
Stratford      10        8      6       5                    29
Wimbledon      10        5      8       7                    30
York            6        9      6       7                    28

In [7]:
output.to_csv('wk31-output.csv', index=False)