### Prepping Data Challenge:  Re-looking at Phone Contact Revenue (week 37)

### Scenario

You work for a mobile / cell phone company. You boss asks you to pull together the revenue report of your current batch of contracts (sadly there are only four contracts!). They need to know how much revenue is generated each month from these contracts whilst they are 'live' (ie from their start date until 'x' months in the future when the contract runs out).

### Requirements
- Input the Data
- Calculate the End Date for each contract
- Create a Row for each month a person will hold the contract
- Calculate the monthly cumulative cost of each person's contract
- Output the Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Input the data
with pd.ExcelFile('wk37-input.xlsx') as xl:
    cont = pd.read_excel(xl,'Contract Details', parse_dates = ['Start Date'])
    scaf = pd.read_excel(xl, 'Scaffold')

In [3]:
cont.head()

       Name  Monthly Cost  Contract Length (months) Start Date
0      Carl            20                        24 2018-12-13
1  Jonathan            15                         6 2019-02-22
2      Andy            45                        12 2018-10-17
3    Sophie            30                        12 2018-11-19

In [4]:
#Calculate the End Date for each contract
#Create a Row for each month a person will hold the contract
cont['Payment Date'] = [pd.date_range(i, periods=j, freq=pd.DateOffset(months=1)) for i,j in zip(cont['Start Date'],
                                                                                          cont['Contract Length (months)'])]

In [5]:
cont = cont.explode('Payment Date')

In [6]:
cont['Cumulative Monthly Cost'] = cont.groupby('Name')['Monthly Cost'].cumsum()

In [7]:
output = cont[['Name', 'Payment Date', 'Monthly Cost', 'Cumulative Monthly Cost']]

In [8]:
output.head(10)

   Name Payment Date  Monthly Cost  Cumulative Monthly Cost
0  Carl   2018-12-13            20                       20
0  Carl   2019-01-13            20                       40
0  Carl   2019-02-13            20                       60
0  Carl   2019-03-13            20                       80
0  Carl   2019-04-13            20                      100
0  Carl   2019-05-13            20                      120
0  Carl   2019-06-13            20                      140
0  Carl   2019-07-13            20                      160
0  Carl   2019-08-13            20                      180
0  Carl   2019-09-13            20                      200

In [9]:
#output the data
output.to_csv('wk37-output.csv', index=False)